@import 'media-query';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
   
}

html {
    scroll-behavior: smooth;
}

body {
    
    color: $light;
    overflow-x: hidden;
    @include xs {
        font-size: 0.8rem;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

h1,h2,h3, p {
    margin-bottom: 1rem;
}

.btn {
    padding: 1rem 2.5rem;
    background-color: $accent;
    color: $light;
    border: 2px solid $accent;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $accent;
    }

}

.above-heading {
    margin-bottom: 0;
    text-transform: uppercase;
    color: $accent;
    text-align: center;
}

.heading {
    @include lg {
        font-size: 2rem;
    }
    text-transform: uppercase;
    margin-bottom: 5rem;
    text-align: center;
}

.social {
    display: flex;
    
    a {
        color: $light;
        transition: 0.3s;
        &:hover {
            color: $accent;
        }
    }
}

.logo {
    img {
        width: 7rem;
    }
}

