//variables
$light: #fff;
$dark: #1d1d1d;
$grey: #919191;
$accent: #FF7A00;
$border-radius: 5px;
$transition: all 0.3s ease;

//resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
   
}

html {
    // scroll-behavior: smooth;
  
}

body {
    background-color: darken($light,2);
    color: $dark;
    overflow-x: hidden;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
    
    text-decoration: none;
    color: $light;
    transition: 0.3s;
            &:hover {
                color: $accent;
            }
}

h1,h2,h3, p {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

p {
    color: $grey;
}

i {
    font-size: 1.2rem;
}


//utilities
.btn {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    max-width: 175px;
    text-align: center;
    background-color: $accent;
    color: $light;
    border: 1px solid $accent;
    transition: $transition;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 1rem;
    &:hover {
        background-color: transparent;
        color: $accent;
    }

}



.heading {
    text-transform: capitalize;
    margin-bottom: 3rem;
    text-align: center;  
}



//extends
%hamburger-bars {
    width: 30px;
    height: 2px;
    background-color: $light;
    margin: 7px 0;
    transition: $transition;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    @extend %hamburger-bars;
  }
  
  %nav-link {
   
      color: $light;
      transition: $transition;
      &:hover {
          color: $accent;
      }
  }

  .nav-link {
      @extend %nav-link;
  }

  //mixins
  @mixin container($padding, $max-width) {
    padding: $padding;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
}

