form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
        align-items: flex-start;
    }
}

.input-field {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    
    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: $light;
      transition:0.2s;
      cursor: text;
    }
    input,
    textarea {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 0.5rem 0;
      border-bottom: 1px solid $light;
      background-color: transparent;
      box-shadow: none;
      color:$light;
      transition: 0.3s;
      &:invalid {
        outline: 0;
      }
      &:focus,
      &:valid {
        border-color: $accent;
       
        
      }
      &:focus ~ label,
      &:valid ~ label {
        font-size: 14px;
        top: -24px;
        color: $accent;
        @include xs {
            font-size: 0.6rem;
        }
      }
    }
  }