//variables
$light: #fff;
$dark: #3F3F3F;
$grey: #919191;

$transition: all 0.3s ease;

//resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
    font-size: 0.9rem;
    @include sm {
        font-size: 1rem;
    }
  
}

body {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

h1,h2,h3, p {
    margin-bottom: 1.5rem;

}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

i {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark;
}

.container {
    padding: 4rem 0;
}

.above-heading {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    border-bottom: 1px solid $dark;
    display: inline-block;
    font-weight: lighter;
}

.heading {
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.btn {
    background-color: $dark;
    color: $light;
    border: 1px solid $dark;
    padding: 1rem 2rem;
    cursor: pointer; 
    transition: $transition;
    font-size: 1rem;
    &:hover {
        background-color: transparent;
        color: $dark;
    }
}

