@mixin container($padding, $max-width) {
    padding: $padding;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
}

@function set-text-color($background-color) {
    @if(lightness($background-color) > 70) {
        @return $dark;
    } @else {
        @return $light;
    }
}