* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  color: #1d1d1d;
  overflow-x: hidden;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #FF9A3E;
}

h1, h2, h3, p {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

p {
  color: #919191;
}

i {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  max-width: 175px;
  text-align: center;
  background-color: #FF9A3E;
  color: #fff;
  border: 1px solid #FF9A3E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: transparent;
  color: #FF9A3E;
}

.heading {
  text-transform: capitalize;
  margin-bottom: 3rem;
  text-align: center;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 7px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-link {
  color: #1d1d1d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #FF9A3E;
}

.body-scroll {
  overflow-y: hidden;
}

@media (min-width: 1200px) {
  .body-scroll {
    overflow-y: visible;
  }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navigation__container {
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .navigation__container {
    padding: 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo img {
  width: 4rem;
}

.navigation__navlinks {
  display: none;
}

@media (min-width: 1200px) {
  .navigation__navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__navlinks .nav-link {
  margin-left: 1.5rem;
}

.navigation__languages {
  margin-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__languages a {
  margin-left: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation__languages a:hover {
  color: #FF9A3E;
}

.navigation__languages .en {
  color: #919191;
}

.navigation__languages .en:hover {
  color: #919191;
}

.navigation__toggle {
  cursor: pointer;
}

.navigation__toggle .bar1,
.navigation__toggle .bar2,
.navigation__toggle .bar3 {
  background-color: #1d1d1d;
}

@media (min-width: 1200px) {
  .navigation__toggle {
    display: none;
  }
}

.hamburger {
  padding: 0 1rem;
  z-index: 100;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d1d1d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.hamburger li {
  margin: 0 1rem;
  text-align: center;
}

.hamburger__navlinks li {
  margin: 3rem 0;
}

.hamburger__languages, .hamburger__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  width: 100%;
}

.hamburger__social {
  border-top: 1px solid  #353535;
}

.hamburger__languages {
  border-bottom: 1px solid  #353535;
}

.hamburger .en {
  color: #FF9A3E;
}

.hamburger__close {
  cursor: pointer;
  position: absolute;
  right: 15;
  top: 15;
}

.hamburger__close .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px);
          transform: rotate(-45deg) translate(-3px, 3px);
}

.hamburger__close .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -4px);
          transform: rotate(45deg) translate(-3px, -4px);
}

.hamburger-active {
  right: 0;
}

.navigation-animation {
  position: fixed;
  -webkit-animation: nav-animation 0.5s ease forwards;
          animation: nav-animation 0.5s ease forwards;
  background-color: #fff;
}

@-webkit-keyframes nav-animation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes nav-animation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.showcase {
  background: #fff url("../images/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.showcase__container {
  padding: 0rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .showcase__container {
    padding: 0rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 2000px) {
  .showcase__container {
    min-height: 1500px;
  }
}

.showcase__text {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25;
          flex: 1.25;
}

.showcase__text h1 {
  line-height: 1.3;
}

@media (min-width: 1200px) {
  .showcase__text h1 {
    font-size: 3.5rem;
  }
}

.showcase__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
}

@media (min-width: 1200px) {
  .showcase__image {
    display: block;
  }
}

.showcase__image img {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 1200px) {
  .showcase__image img {
    max-width: unset;
  }
}

.services__container {
  padding: 5rem 1rem 0;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .services__container {
    padding: 10rem 1rem 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.services__grid {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 1200px) {
  .services__grid {
    gap: 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.services__item {
  padding: 2rem;
  background-color: #fff;
}

.services h2 {
  text-transform: capitalize;
}

.services i {
  color: #FF9A3E;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.gallery__container {
  padding: 5rem 1rem 0;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .gallery__container {
    padding: 10rem 1rem 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 300px;
  gap: 1rem;
}

@media (min-width: 600px) {
  .gallery__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .gallery__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__grid .glightbox {
  background-color: #1d1d1d;
}

@media (min-width: 1200px) {
  .gallery__grid #img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

@media (min-width: 1200px) {
  .gallery__grid #img2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }
}

@media (min-width: 1200px) {
  .gallery__grid #img3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
}

@media (min-width: 1200px) {
  .gallery__grid #img4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    grid-row: 2/ 2;
  }
}

@media (min-width: 1200px) {
  .gallery__grid #img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 /4;
  }
}

@media (min-width: 1200px) {
  .gallery__grid #img6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery img:hover {
  opacity: 0.5;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .about__container {
    -ms-grid-columns: 0.7fr 1.3fr;
        grid-template-columns: 0.7fr 1.3fr;
    gap: 4rem;
  }
}

@media (min-width: 1200px) {
  .about__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.about__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1200px) {
  .about__text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 /3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.about__image {
  text-align: center;
}

.about__image img {
  width: 100%;
  max-width: 350px;
}

@media (min-width: 1200px) {
  .about__image img {
    max-width: unset;
  }
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/canon.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/canon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact__container {
  color: #fff;
  padding: 5rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .contact__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.contact__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

@media (min-width: 1200px) {
  .contact__flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact .contact-form {
  background-color: rgba(29, 29, 29, 0.8);
  padding: 2rem 1rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

@media (min-width: 1200px) {
  .contact .contact-form {
    text-align: left;
    padding: 2rem;
  }
}

.contact .contact-form .input-field {
  position: relative;
  margin-bottom: 1rem;
}

.contact .contact-form label {
  position: absolute;
  top: 15;
  left: 1rem;
  color: light;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.contact .contact-form input, .contact .contact-form textarea {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 1rem;
  width: 100%;
  border: 1px solid #353535;
  background-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .contact-form input:invalid, .contact .contact-form textarea:invalid {
  outline: 0;
}

.contact .contact-form input:focus, .contact .contact-form input:valid, .contact .contact-form textarea:focus, .contact .contact-form textarea:valid {
  border: 1px solid #FF9A3E;
}

.contact .contact-form input:focus ~ label,
.contact .contact-form input:valid ~ label, .contact .contact-form textarea:focus ~ label,
.contact .contact-form textarea:valid ~ label {
  top: -10;
  color: #FF9A3E;
  font-size: 0.9rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 29, 0.1)), color-stop(#1d1d1d), color-stop(#1d1d1d), to(rgba(29, 29, 29, 0.1)));
  background: linear-gradient(rgba(29, 29, 29, 0.1), #1d1d1d, #1d1d1d, rgba(29, 29, 29, 0.1));
}

.contact .contact-form textarea {
  resize: none;
  height: 150px;
}

.contact__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .contact__info {
    text-align: left;
  }
}

.contact__info ul {
  margin-bottom: 2rem;
}

.contact__info ul:nth-child(3) {
  margin-bottom: 0;
}

.contact__info h3 {
  margin-bottom: 1rem;
}

.contact__info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .contact__info .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contact__info .social-link {
  margin: 0 1rem;
}

@media (min-width: 1200px) {
  .contact__info .social-link {
    margin: 0 2rem 0 0;
  }
}

.contact .contact-bottom {
  margin: 0 1rem;
}

.contact .contact-bottom__container {
  padding: 2rem 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #353535;
  color: #fff;
  text-align: center;
}

@media (min-width: 1200px) {
  .contact .contact-bottom__container {
    padding: 2rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */