* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
}

html {
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  html {
    font-size: 1rem;
  }
}

body {
  color: #3F3F3F;
}

h1, h2, h3, p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

i {
  font-size: 1.2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3F3F3F;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.sections {
  margin-left: 0;
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 1200px) {
  .sections {
    margin-left: 350px;
    padding: 0 4rem;
  }
}

.container {
  padding: 4rem 0;
}

.above-heading {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-bottom: 1px solid #3F3F3F;
  display: inline-block;
  font-weight: 500;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.btn {
  background-color: #3F3F3F;
  color: #fff;
  border: 1px solid #3F3F3F;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.btn:hover {
  background-color: transparent;
  color: #3F3F3F;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #3F3F3F;
  height: 100vh;
  width: 100%;
  z-index: 800;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader.active {
  opacity: 0;
  visibility: hidden;
}

.loader .square {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-perspective: 200px;
          perspective: 200px;
}

.loader .square div {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  background: #3F3F3F;
  -webkit-animation: flip 2s linear infinite;
          animation: flip 2s linear infinite;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.loader .square div:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0.5;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0deg);
            transform: rotateX(180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0deg);
            transform: rotateX(180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}

.toggle {
  padding: 1rem;
  background-color: #3F3F3F;
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .toggle {
    display: none;
  }
}

.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.toggle.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle.change .bar2 {
  opacity: 0;
}

.toggle.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
          transform: rotate(45deg) translate(-6px, -5px);
}

.sidenav {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 4rem 2rem 1.5rem 2rem;
  z-index: 500;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .sidenav {
    visibility: visible;
    opacity: 1;
    width: 350px;
    -webkit-box-shadow: 3px 0px 5px -1px #d8d8d8;
            box-shadow: 3px 0px 5px -1px #d8d8d8;
  }
}

.sidenav .sidenav-avatar {
  text-transform: uppercase;
}

.sidenav .sidenav-avatar h3 {
  margin-bottom: 0.5rem;
}

.sidenav .sidenav-avatar img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 7px solid transparent;
  -webkit-box-shadow: 0 0 1px 2px #e4e4e4;
          box-shadow: 0 0 1px 2px #e4e4e4;
  border-radius: 50%;
  margin-bottom: 2rem;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.sidenav .sidenav-avatar p {
  font-weight: 500;
}

.sidenav .sidenav-avatar p::before,
.sidenav .sidenav-avatar p::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #3F3F3F;
  width: 1rem;
  margin: 0 0.5rem;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.sidenav .nav-links li {
  margin: 2rem 0;
}

.sidenav .nav-links a {
  font-weight: 500;
}

.sidenav .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidenav .social-links ul li {
  margin: 0 1rem;
}

.sidenav.active {
  visibility: visible;
  opacity: 1;
}

.portfolio .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 300px;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  .portfolio .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .portfolio .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio .grid .glightbox {
  background-color: #3F3F3F;
}

@media (min-width: 992px) {
  .portfolio .grid #img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

@media (min-width: 992px) {
  .portfolio .grid #img2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }
}

@media (min-width: 992px) {
  .portfolio .grid #img3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
}

@media (min-width: 992px) {
  .portfolio .grid #img4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    grid-row: 2/ 2;
  }
}

@media (min-width: 992px) {
  .portfolio .grid #img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 /4;
  }
}

@media (min-width: 992px) {
  .portfolio .grid #img6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio img:hover {
  opacity: 0.5;
}

.services .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .services .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .services .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.services .item {
  padding: 1.5rem;
  border: 1px solid #e4e4e4;
}

.services .item img {
  margin-bottom: 1rem;
  width: 3rem;
}

.contact .container {
  padding: 5rem 0 15rem;
}

.contact .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

@media (min-width: 768px) {
  .contact .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.contact .contact-form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contact .contact-form .input-field {
  position: relative;
  margin-bottom: 1rem;
}

.contact .contact-form label {
  position: absolute;
  top: 13;
  left: 1rem;
  color: #afafaf;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

@media (min-width: 600px) {
  .contact .contact-form label {
    top: 17;
  }
}

.contact .contact-form input, .contact .contact-form textarea {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 1rem;
  width: 100%;
  border: 1px solid #e4e4e4;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .contact-form input:invalid, .contact .contact-form textarea:invalid {
  outline: 0;
}

.contact .contact-form input:focus, .contact .contact-form input:valid, .contact .contact-form textarea:focus, .contact .contact-form textarea:valid {
  border: 1px solid #3F3F3F;
}

.contact .contact-form input:focus ~ label,
.contact .contact-form input:valid ~ label, .contact .contact-form textarea:focus ~ label,
.contact .contact-form textarea:valid ~ label {
  top: -11;
  color: #3F3F3F;
  font-size: 0.9rem;
  background-color: #fff;
}

.contact .contact-form textarea {
  resize: none;
  height: 150px;
}

.contact .contact-info li {
  margin-bottom: 2rem;
}

.contact .contact-info i {
  text-align: center;
  width: 2rem;
  margin-right: 1rem;
}

.footer {
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid #e4e4e4;
}
/*# sourceMappingURL=styles.css.map */