@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
}

body {
  color: #fff;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, p {
  margin-bottom: 1rem;
}

i {
  font-size: 1.2rem;
}

.btn {
  padding: 1rem 2.5rem;
  background-color: #FF7A00;
  color: #fff;
  border: 2px solid #FF7A00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: #FF7A00;
}

.above-heading {
  margin-bottom: 0;
  text-transform: capitalize;
  color: #FF7A00;
  text-align: center;
}

.heading {
  text-transform: capitalize;
  margin-bottom: 3rem;
  text-align: center;
}

@media (min-width: 992px) {
  .heading {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social a:hover {
  color: #FF7A00;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 7px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-link {
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover {
  color: #FF7A00;
}

.landing-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/landing-image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/landing-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.landing-page-active {
  right: 70%;
}

@media (min-width: 992px) {
  .landing-page-active {
    right: 0;
  }
}

.body-scroll {
  overflow-y: hidden;
}

@media (min-width: 992px) {
  .body-scroll {
    overflow-y: visible;
  }
}

.disable-scroll-images {
  overflow-y: hidden;
}

.navigation__container {
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo img {
  width: 5rem;
}

.navigation__navlinks {
  display: none;
}

@media (min-width: 992px) {
  .navigation__navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__navlinks .nav-link {
  margin: 0 1rem;
}

.navigation__languages {
  display: none;
}

.navigation__languages a {
  margin-left: 1rem;
}

@media (min-width: 992px) {
  .navigation__languages {
    display: block;
  }
}

.navigation__languages .en {
  border-bottom: 2px solid #FF7A00;
  padding-bottom: 0.5rem;
}

.navigation__toggle {
  z-index: 50;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navigation__toggle {
    display: none;
  }
}

.navigation .hamburger {
  padding: 2rem;
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242424;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navigation .hamburger {
    display: none;
  }
}

.navigation .hamburger li {
  margin: 5rem 0;
}

.navigation .hamburger .social-link {
  margin-right: 2rem;
}

.navigation .hamburger-active {
  right: 0;
}

.toggle-rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  width: 30px;
  -webkit-transform: rotate(45deg) translate(-6px, -5px);
          transform: rotate(45deg) translate(-6px, -5px);
}

.showcase__container {
  padding: 0rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

@media (min-width: 992px) {
  .showcase__container {
    text-align: left;
    padding: 0 20rem 0 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.showcase__social-vertical {
  display: none;
}

@media (min-width: 992px) {
  .showcase__social-vertical {
    display: block;
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
  }
  .showcase__social-vertical::before, .showcase__social-vertical::after {
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    display: inline-block;
    height: 10rem;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .showcase__social-vertical::before, .showcase__social-vertical::after {
    width: 1px;
  }
  .showcase__social-vertical li {
    margin: 2rem 0;
  }
}

.showcase__social-horizontal {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .showcase__social-horizontal {
    display: none;
  }
}

.showcase__social-horizontal li {
  margin: 0 1rem;
}

.showcase h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .showcase h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .showcase p {
    font-size: 1.5rem;
  }
}

.services {
  background-color: #242424;
}

.services__container {
  text-align: center;
  padding: 5rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .services__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.services__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .services__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .services__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.services__item {
  padding: 2rem;
  background-color: #292929;
}

.services h2 {
  text-transform: capitalize;
}

.services i {
  color: #FF7A00;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.gallery {
  background-color: #292929;
}

.gallery__container {
  padding: 5rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .gallery__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.gallery__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.gallery__grid-container img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 600px) {
  .gallery__grid-container img {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .gallery__grid-container img {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .gallery__grid-container img {
    height: 400px;
  }
}

.contact {
  background-color: #242424;
}

.contact__container {
  padding: 5rem 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contact__container {
    padding: 10rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.contact__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

@media (min-width: 768px) {
  .contact__flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact form {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 992px) {
  .contact form {
    text-align: left;
  }
}

.contact form input, .contact form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 25px;
  color: #fff;
}

.contact form input:focus, .contact form textarea:focus {
  border: 2px solid #FF7A00;
}

.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: #fff;
}

.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: #fff;
}

.contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  color: #fff;
}

.contact form input::placeholder, .contact form textarea::placeholder {
  color: #fff;
}

.contact__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .contact__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__info .contact-details li {
  margin-bottom: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact__info .contact-details li {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
}

.contact__info .contact-details h2 {
  margin-bottom: 0;
}

.contact__info .contact-details .icon {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.contact__info .contact-details .icon i {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .contact__info .contact-details .icon {
    margin-bottom: 0;
  }
}

.contact__info .contact-details .info-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact__info .contact-details .info-desc {
    border-left: 3px solid #fff;
    padding-left: 1rem;
    margin-left: 1rem;
  }
}

.contact__info .contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .contact__info .contact-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contact__info .contact-social li {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .contact__info .contact-social li {
    margin: 0 1.5rem 0 0;
  }
}

.footer {
  text-transform: capitalize;
  background-color: #292929;
  color: #fff;
}

.footer .footer-container {
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */