@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import 'variables';
@import 'mixins';
@import 'base-styles';
@import 'media-query';
@import 'extends';




//bg image 
.landing-page {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/landing-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    position: relative;
    right: 0;
    transition: 0.5s;
} 

.landing-page-active {
    right: 70%;
    @include lg {
        right: 0;
    }
    
}

.body-scroll {
    overflow-y: hidden;
    @include lg {
        overflow-y: visible;
    }
}

.disable-scroll-images {
    overflow-y: hidden;
}

//above nav
// .above-nav {
//     border-bottom: 1px solid #dcdcdc33;
//     &__container {
//         @include container(0 1rem, 1200px);
//         height: 5vh;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     .languages {
//         a {
//             margin-left: 1rem;
//         }
//     }
// }

//navigation
.navigation {
    &__container {
        @include container(0 1rem, 1200px);
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 5rem;
            
        }
    }

    &__navlinks {

        display: none;
        @include lg {
            display: flex;
        }
        .nav-link {
            margin: 0 1rem;
            
           
        }
    }
    
    &__languages {
        display: none;
        
        a {
            margin-left: 1rem;
            
        }
        @include lg {
            display: block;
        }
        .en {
            border-bottom: 2px solid $accent;
            padding-bottom: 0.5rem;
        }
    }

    &__toggle {
        z-index: 50;
        cursor: pointer;
        transition: 0.5s;
       @include lg {
           display: none;
       }
    
    }

    .hamburger {
        padding: 2rem;
        position: fixed;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $dark;
        transition: 0.5s;
        @include lg {
            display: none;
        }
      li {
          margin: 5rem 0;
      }
      .social-link {
        margin-right: 2rem;
    }
    }

    
    
    .hamburger-active {
        right: 0; 
       
    }
}

// toggle animations


.toggle-rotate {
    transform: rotate(360deg);
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    width: 30px;
    transform: rotate(45deg) translate(-6px, -5px);
  }

//showcase 

.showcase {
    &__container {
        @include container(0rem 1rem, 1200px);
        position: relative;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $light;
        text-align: center;
        @include lg {
            text-align: left;
            @include container(0 20rem 0 1rem, 1200px);
        }
        
    }

    &__social-vertical {
        display: none;
        @include lg {
            display: block;
        position: absolute;
        right: 1rem;     
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        text-align: center;
        &::before, &::after {
            background-color: rgba(255, 255, 255, 0.5);
            content: "";
            display: inline-block;
            height: 10rem;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        &::before, &::after {
            width: 1px;
        }
        li {
            margin: 2rem 0;
        }
    }
    }

    &__social-horizontal {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        @include lg {
            display: none;
        }
        li {
            margin: 0 1rem;
        }
    }
   
   
    h1 {
        font-size: 1.5rem;
        text-transform: uppercase;
        @include lg {
            font-size: 3.5rem;
        }
    }
    p {
       @include lg {
           font-size: 1.5rem;
       }
    }
    
}


//services 
.services {
   background-color: $dark;
   
    &__container {
        text-align: center;
        @include container(5rem 1rem, 1200px);
        @include md {
            @include container(10rem 1rem, 1200px);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        @include md {
            grid-template-columns: 1fr 1fr;

        }
        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__item {
        padding: 2rem;
        background-color: lighten($dark, 2);
    }
    h2 {
        text-transform: capitalize;
    }
    i {
        color: $accent;
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }
}



//gallery
.gallery {
    background-color: lighten($dark, 2);
    &__container {
        @include container(5rem 1rem, 1200px);
        @include md {
            @include container(10rem 1rem, 1200px);
        }
    }
    
    

    &__grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        img {
            
            width: 100%;
            height: 100px;
            object-fit: cover;
            @include sm {
                height: 200px
            }
            @include md {
                height: 300px;
            }
            @include lg {
                height: 400px;
            }
        }
    }

    
   
}

.contact {
    
    background-color: $dark;
    &__container {
        
        @include container(5rem 1rem, 1200px);
        @include md {
            @include container(10rem 1rem, 1200px);
        }
    }

    &__flex-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        @include md {
            flex-direction: row;
        }
    }

    form {
        text-align: center;
        flex: 1;
        @include lg {
            text-align: left;
        }
        input, textarea {
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            outline: none;
            background-color: darken($dark, 2);
            border: 2px solid darken($dark, 2);
            transition: 0.3s;
            border-radius: 25px;
            color: $light;
            &:focus {
                border: 2px solid $accent;
            }
            &::placeholder {
                color: $light;
            }
        }
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include md {
            align-items: flex-start;
        }
        
        .contact-details {
        li {
            margin-bottom: 3rem;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            @include md {
                text-align: left;
                flex-direction: row;
                align-items: center;
                margin-bottom: 2rem;
            }
            
        }
        h2 {
            margin-bottom: 0;
        }
        .icon {
            
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5rem;
            i {
                font-size: 2rem;
            }
            @include md {
                margin-bottom: 0;
            }
        }
        .info-desc {
            display: flex;
            flex-direction: column;
            
            @include md {
                border-left: 3px solid $light;
                padding-left: 1rem;
                margin-left: 1rem;
                
            }
        }
    }

    .contact-social {
        display: flex;
        justify-content: center;
        @include md {
            justify-content: flex-start;
        }
        li {
            margin: 0 1rem;
            @include md {
                margin:  0 1.5rem 0 0;
            }
        }
    }

    }

   
}





.footer {
    text-transform: capitalize;
    background-color: lighten($dark, 2);
    color: set-text-color($dark);
    .footer-container {
        @include container(2rem, 1200px);
        text-align: center;
        
    }
}